{% extends baseLayout %}

{% block content %}

    {% for post in posts %}

        <article class="post">
            <h3>
                <a href="{{ post.link }}">
                    {{ post.title }}
                </a>
                - 
                <a href="{{ post.get_author().link }}">
                    {{ post.get_author().name() }}
                </a>
            </h3>

            <p>{{ post.get_preview(25) }}</p>

            {% if post.thumbnail.src %}
                <img src="{{post.thumbnail.src}}" />
            {% endif %}

            {% for term in post.terms() %}
                <a href="{{ term.link }}" class="tag">{{ term.name }}</a>
            {% endfor %}
            
        </article>

    {% endfor %}

{% endblock %}