{% extends baseLayout %}

{% block content %}

    <h1>{{ page_header }}</h1>

    {% for post in posts %}

        <article class="post">
            <h3>
                <a href="{{ post.link }}">
                    {{ post.title }}
                </a>
            </h3>
            <p>{{ post.get_preview(25) }}</p>
            {% if post.thumbnail.src %}
                <img src="{{post.thumbnail.src}}" />
            {% endif %}
        </article>

    {% endfor %}

{% endblock %}